{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" data-main="/static/js/usermain" src="/static/js/libs/require.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  {% include 'messages.html' %}
  <div class="row">
    <div class="col-md-5">
      <div id="user-profile" class="card profile margin-top" data-user-id='{{ user.id }}'>
      </div>
      <div id="feed-container" class="card margin-top" data-source="user" data-source-id="{{ user.id }}">
        <ul class="feed md-action-space-right">
        </ul>
      </div>
    </div>
    <!--div class="js-stats-container col-md-7" data-type="user" data-group="{{ nimbbleId }}" data-load="demo">
      <div class="row js-stats"></div>
      <div class="card margin-top js-sim-container">
        <div class="js-chart-container padding"></div>
        <div class="js-weekly-indicator call-out-top"></div>
      </div>
  </div-->
  </div>
</div>
{% endblock %}
