{% extends "base.html" %}
{% block css %}{% load pipeline %}{% stylesheet 'trackers' %}{% endblock %}
{% block scripts %}
    <script type="text/javascript" data-main="/static/js/trackermain" src="/static/js/libs/require.min.js"></script>
{% endblock %}

{% block content %}
<header class="header">
  <h1>
    Fitness Trackers <em>for</em> <strong>Infinite Energy</strong>
    <!--small>Showing activity for <strong>{{ group_name }}</strong></small-->
  </h1>
</header>
<div class="container-fluid">
    {% include 'messages.html' %}
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card margin-top">
                <ul id="feed-container" class="feed action-space-right">
                    {% include 'ui/loading_row.html' %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
