{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" data-main="/static/js/main" src="/static/js/libs/require.min.js"></script>
{% endblock %}

{% block content %}
<header class="header">
  <h1>
    Fitness Trackers <em>for</em> <strong>Infinite Energy</strong>
    <!--small>Showing activity for <strong>{{ group_name }}</strong></small-->
  </h1>
</header>
<div class="container-fluid">
    {% include 'messages.html' %}
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div id="feed-container" class="card margin-top" data-source="community" data-source-id="{{ parent_id }}">
                <ul class="feed action-space-right">
                    {% include 'ui/loading_row.html' %}
                </ul>
                <div id="loadmore" class="feed-footer item-border-top hidden"><a href="#" class="loadmore">load more<a/></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
